@import 'variables';

body{
    font-family: arial,helvetica;
    background: slategrey;
    margin: 0;
    padding: 0;
}

#wrapper{
    border: 0px solid $borderColor;
    width: 1000px;
    background: white;
    margin: 0 auto;
}

@import 'header';
@import 'content';
@import 'sidebar';
@import 'footer';