* {
  box-sizing: border-box; }

body {
  font: 18px/24px arial; }

div {
  margin: 0 0 15px 15px; }

#first {
  background: darkslateblue;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3); }

#second {
  background: darkseagreen;
  width: 600px;
  padding: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.3); }

#third {
  background: hotpink;
  width: 400px;
  padding: 20px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); }

#first, #second {
  font-family: arial;
  font-size: 16px;
  margin: 0 0 15px 15px;
  padding: 15px; }

#first {
  background: darkslateblue;
  width: 500px; }

#second {
  background: darkseagreen;
  width: 400px; }

.abc {
  padding: true;
  margin: false;
  font-family: true; }

.xyz {
  padding: false;
  margin: true;
  width: false;
  height: true; }

.eft {
  padding: true;
  margin: true;
  width: false; }

.test {
  padding: "2px"; }

.test2 {
  padding: "22px";
  margin: "18px";
  width: "40px";
  height: "10px"; }

.test3 {
  margin-right: "20px"; }

.icon-duck {
  color: tomato;
  background: url("./icons/duck.png"); }

.container {
  width: "600px"; }

.wrapper-inner {
  width: "400px";
  height: "300px"; }

.test4 {
  margin-left: 56.6px;
  padding: 3px;
  width: 450px;
  height: 400px;
  margin-right: 200%;
  margin-top: 85px; }

.test5 {
  font-family: "Arial";
  font-family: Arial;
  font-family: "ARIAL";
  font-family: "arial";
  font-family: 5;
  font-family: 11;
  font-family: "HelveticaMono Neue";
  font-size: ub2rmi01d; }

#box1, #box2 {
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #000; }

#box1 {
  background: green; }

#box2 {
  background: rgba(0, 128, 0, 0.9); }

.test6 {
  padding-left: 3;
  padding-right: 20px;
  padding-top: 10px, 20px, 2em;
  font-family: "Roboto", Arial, Verdana;
  padding-bottom: 10px, 20px, 30px, 40px, 50px, 60px;
  margin-left: 40px 50px 60px 70;
  margin-right: 10px 40px, 20px 50px, 30px 60px;
  margin-top: 3; }

.active .main a, .main .active a {
  width: 10px; }

.test7 {
  font-weight: 700;
  font-weight: "regular", "medium", "bold";
  font-weight: 400, 500, 700;
  font-weight: "regular", "medium", "bold", "lightest", "light";
  font-weight: 100, 300;
  font-weight: true; }

.test {
  padding-left: true;
  padding-right: false;
  padding-bottom: true;
  padding-top: true;
  margin-top: string;
  margin-bottom: 10px 20px 30px; }

.button {
  border: 1px solid black; }
  .button:hover {
    border-width: 2px; }

body {
  background: gray; }

@media screen and (max-width: 1080) {
  body {
    background: red; } }
@media screen and (max-width: 720) {
  body {
    background: green; } }
@media screen and (max-width: 480) {
  body {
    background: blue; } }
.container {
  width: 1100px;
  margin: 0px auto; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 900px; } }
  @media screen and (max-width: 950px) {
    .container {
      width: 700px; } }

.item {
  color: red; }
  .item-wrapper {
    color: green; }
    .item-wrapper img {
      width: 100%; }
  .item .item-child {
    background: tomato; }

p {
  color: blue;
  font-size: 12px;
  background: pink; }

p {
  color: red; }

p {
  color: tomato; }

.test8 {
  font-size: 30px;
  color: blue; }

.list-1 {
  width: 100px;
  background: #ff8da1; }

.list-2 {
  width: 200px;
  background: #ff5a77; }

.list-3 {
  width: 300px;
  background: #ff274d; }

.list-4 {
  width: 400px;
  background: #f3002a; }

.list-5 {
  width: 500px;
  background: #c00022; }

.normal {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.italic {
  font-weight: italic; }

.normal {
  font-weight: bold;
  font-size: 10px; }

.emphasis {
  font-weight: italic;
  font-size: 15px; }

.normal {
  font-weight: normal;
  font-size: 12px; }

.bold {
  font-weight: bold;
  font-size: 13px; }

.italic {
  font-weight: italic;
  font-size: 14px; }

.wrapper-10 {
  padding-left: 10px; }

.wrapper-20 {
  padding-left: 20px; }

.wrapper-30 {
  padding-left: 30px; }

.wrapper-40 {
  padding-left: 40px; }

.wrapper-50 {
  padding-left: 50px; }

/*# sourceMappingURL=style.css.map */
